.dishes-add-button {
  background: white;
  border: none;
  cursor: pointer;
}

.dishes-add-button img {
  width: 40px;
}

.dishes-add-button img:hover {
  transition: 140ms ease-in-out;
  transform: scale(1.2);
}

.basket-button {
  border: none;
  background-color: rgb(226, 220, 220);
}

.basket-button:hover {
  cursor: pointer;
  transition: 140ms ease-in-out;
  transform: scale(1.2);
}

.basket-button img {
  width: 20px;
}

.delete-button {
  margin-right: 8px;
}

#order-button {
  font-size: 18px;
  font-weight: 500;
  height: 36px;
  border-radius: 16px;
  background-color: rgb(239, 136, 50);
  color: white;
  margin: 8px 8px;
  border: none;
}

#order-button:hover {
  cursor: pointer;
  background-color: rgb(67, 156, 71);
  transition: 140ms ease-in-out;
  transform: scale(1.02);
}

@media (max-width: 760px) {
  .basket-button {
    background-color: rgb(239, 136, 50);
    cursor: pointer;
  }
}
