#basket-dialog {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 650px;
  max-width: 450px;
  min-width: 320px;
  height: 450px;
  border-radius: 16px;
  background-color: rgb(239, 136, 50);
}

#basket-dialog[open] {
  display: flex;
  flex-direction: column;
}

#basket-dialog-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding-left: 12px;
  padding-top: 8px;
}

.dialog-basket-first-part {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dialog-second-part {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 180px;
}

.dialog-dish-name {
  padding-top: 6px;
}

.delete-button {
  display: flex;
  justify-items: flex-end;
}

@media (max-width: 715px) {
  .price-table {
    width: 100%;
    padding: 8px 8px;
  }

  #dialog-order-button {
    width: 100%;
    height: 40px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    margin-top: auto;
  }

  #dialog-order-button:hover {
    background-color: rgb(67, 156, 71);
    color: white;
    font-weight: 700;
  }

  .bill-area {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: auto;
  }

  .dialog-wrap {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}
