body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: rgb(226, 220, 220);
}

header {
  display: flex;
  align-items: center;
  width: 1440px;
  height: 120px;
  background-color: rgb(239, 136, 50);
  padding-left: 32px;
}

header img {
  height: 64px;
}

.section-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgb(239, 136, 50);
}

.content {
  display: flex;
  flex-direction: column;
  width: calc(100% - 300px);
}

.main-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  flex: 1;
}

main {
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  flex: 1;
}

.image-area {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 320px;
  background-image: url(../assets/img/hero_img.png);
}

.brand-image img {
  position: absolute;
  top: -82px;
  right: -40px;
  border-radius: 100%;
  width: 120px;
}

.headline-section {
  padding-left: 16px;
  padding-top: 40px;
}

.headline-image {
  display: flex;
  margin-top: 28px;
}

.headline-image img {
  height: 240px;
  border-radius: 16px;
  width: 100%;
  max-width: 100%;
}

h1 {
  font-size: 36px;
  padding-bottom: 24px;
}

.evaluation {
  color: rgb(239, 136, 50);
  padding-bottom: 16px;
}

.dish-menu {
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding-left: 16px;
}

.menu {
  font-size: 20px;
  color: black;
  padding: 2px 4px;
  border-radius: 9999px;
  transition: background-color 140ms ease, transform 140ms ease,
    box-shadow 140ms ease;
}

.menu:hover {
  background-color: rgba(0, 0, 0, 0.08);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05);
}

.main-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 16px;
  padding-top: 32px;
  padding-right: 16px;
}

#main-dishes {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#desserts {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#drinks {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

h2 {
  font-size: 28px;
}

.rendered-dishes {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 16px;
}

h4 {
  font-size: 18px;
}

.basket-section {
  width: 300px;
  box-shadow: -14px 0 28px -24px rgba(0, 0, 0, 0.3);
}

#basket {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 900px;
  position: sticky;
  top: 0;
}

h3 {
  font-size: 24px;
  text-align: center;
  padding: 8px 0;
}

.dish-article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 120px;
  background: white;
  border-radius: 16px;
  padding: 0 16px;
}

.dividing-line {
  height: 2px;
  width: 100%;
  background-color: rgb(202, 195, 183);
}

.dividing-area {
  min-height: 16px;
  width: 100%;
}

.food-order {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 16px;
  max-height: 400px;
  overflow-y: auto;
}

.basket-first-part {
  display: flex;
  flex-direction: column;
  padding: 8px 12px;
}

.basket-second-part {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dish-name {
  font-size: 18px;
  font-weight: 500;
}

.buttons-and-counter {
  display: flex;
  gap: 8px;
  padding-top: 4px;
}

.dish-and-euro {
  display: flex;
  gap: 4px;
  align-items: center;
}

.price-table {
  padding-top: 8px;
  min-height: 80px;
  padding-left: 12px;
  padding-right: 12px;
}

.table-body {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.price-table-row {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

footer {
  margin-top: auto;
  max-width: 1440px;
  background-color: rgb(239, 136, 50);
  height: 120px;
}

.food-order::-webkit-scrollbar {
  width: 6px;
}

.food-order::-webkit-scrollbar-thumb {
  background: rgb(239, 136, 50);
  border-radius: 2px;
}

.small-screen-basket {
  display: none;
}

@media (max-width: 810px) {
  .dishes-add-button img {
    width: 32px;
  }
}

@media (max-width: 760px) {
  .basket-section {
    display: none;
    width: 0;
  }

  .content {
    width: 100%;
  }

  .small-screen-basket {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: sticky;
    bottom: 0;
    margin-bottom: 16px;
  }

  .small-screen-basket h3 {
    width: 240px;
    text-align: center;
  }

  .small-screen-basket-button {
    border-radius: 16px;
    cursor: pointer;
    border: none;
    background-color: rgb(239, 136, 50);
  }

  .small-screen-basket-button:hover {
    transition: 140ms ease-in-out;
    transform: scale(1.09);
  }

  .dividing-line {
    margin-top: 6px;
  }
}

@media (max-width: 520px) {
  h1 {
    font-size: 28px;
    padding-bottom: 24px;
  }

  h2 {
    font-size: 24px;
  }

  h4 {
    font-size: 16px;
  }

  .dish-article {
    padding: 8px 16px;
  }

  .dishes-add-button img {
    width: 32px;
  }

  .dish-menu {
    flex-direction: column;
    gap: 6px;
    padding-left: 16px;
  }

  .menu {
    font-size: 18px;
  }

  .rendered-dishes {
    font-size: 15px;
  }
}
