body {
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  max-width: 1440px;
  height: 120px;
  background-color: rgb(239, 136, 50);
  padding-left: 64px;
}

header img {
  height: 64px;
}

.section-wrapper {
  width: 100%;
  background-color: rgb(239, 136, 50);
}

.inner-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

main {
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  flex: 1;
}

.image-area {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 320px;
  background-image: url(../assets/img/hero_img.png);
}

.image-area img {
  width: 100%;
  border-radius: 100%;
  width: 110px;
}

footer {
  margin-top: auto;
  max-width: 1440px;
  background-color: rgb(239, 136, 50);
  height: 120px;
}
