body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: rgb(226, 220, 220);
}

header {
  display: flex;
  align-items: center;
  width: 1440px;
  height: 120px;
  background-color: rgb(239, 136, 50);
  padding-left: 32px;
}

header img {
  height: 64px;
}

.section-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgb(239, 136, 50);
}

.content {
  display: flex;
  flex-direction: column;
  width: calc(100% - 300px);
}

.main-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  flex: 1;
}

main {
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  flex: 1;
}

.image-area {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 320px;
  background-image: url(../assets/img/hero_img.png);
}

.brand-image img {
  position: absolute;
  top: -82px;
  right: -40px;
  border-radius: 100%;
  width: 120px;
}

.headline-section {
  padding-left: 16px;
  padding-top: 32px;
}

h1 {
  font-size: 36px;
  padding-bottom: 24px;
}

.evaluation {
  color: rgb(239, 136, 50);
  padding-bottom: 16px;
}

.dish-menu {
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding-left: 16px;
}

.menu {
  font-size: 18px;
  color: black;
}

.menu:hover {
  font-weight: 600;
}

.main-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 16px;
  padding-top: 32px;
}

#main-dishes {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#desserts {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#drinks {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

h2 {
  font-size: 28px;
}

.rendered-dishes {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 15px;
}

h4 {
  font-size: 18px;
}

.basket-section {
  width: 300px;
  /* border-left: 1px solid grey; */
}

#basket {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 900px;
  position: sticky;
  top: 0;
}

h3 {
  font-size: 24px;
  text-align: center;
  padding: 8px 0;
}

.dish-article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 120px;
  background: white;
  border-radius: 16px;
  padding: 0 16px;
}

.dishes-add-button {
  background: white;
  border: none;
  cursor: pointer;
}

.dishes-add-button img {
  width: 40px;
}

.dishes-add-button img:hover {
  transform: scale(1.2);
}

.dividing-line {
  height: 2px;
  width: 100%;
  background-color: rgb(202, 195, 183);
}

.dividing-area {
  min-height: 16px;
  width: 100%;
}

.food-order {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 16px;
  max-height: 400px;
  overflow-y: auto;
}

.basket-first-part {
  display: flex;
  flex-direction: column;
  padding: 8px 12px;
}

.basket-second-part {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dish-name {
  font-size: 18px;
  font-weight: 500;
}

.buttons-and-counter {
  display: flex;
  gap: 8px;
  padding-top: 4px;
}

.basket-button {
  border: none;
  background-color: rgb(226, 220, 220);
}

.basket-button:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.basket-button img {
  width: 20px;
}

.dish-and-euro {
  display: flex;
  gap: 4px;
  align-items: center;
}

.delete-button {
  margin-right: 8px;
}

.price-table {
  padding-top: 8px;
  min-height: 80px;
  padding-left: 12px;
  padding-right: 12px;
}

.table-body {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.price-table-row {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

#order-button {
  font-size: 18px;
  font-weight: 500;
  height: 36px;
  border-radius: 16px;
  background-color: rgb(239, 136, 50);
  color: white;
  margin: 8px 8px;
  border: none;
}

#order-button:hover {
  cursor: pointer;
  transform: scale(1.02);
}

#confirmation-dialog {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 210px;
  min-width: 120px;
  border-radius: 16px;
  background-color: rgb(239, 136, 50);
}

.dialog-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

#confirmation-dialog p {
  font-size: 32px;
  font-weight: 500;
  padding: 0 16px;
}

.button-area {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.close-button {
  background-color: rgb(239, 136, 50);
  cursor: pointer;
  border: none;
}

.close-button img {
  width: 48px;
}

.close-button img:hover {
  transform: scale(1.1);
}

footer {
  margin-top: auto;
  max-width: 1440px;
  background-color: rgb(239, 136, 50);
  height: 120px;
}

.food-order::-webkit-scrollbar {
  width: 6px;
}

.food-order::-webkit-scrollbar-thumb {
  background: rgb(239, 136, 50);
  border-radius: 2px;
}

.small-screen-basket {
  display: none;
}

@media (max-width: 1112px) {
  #confirmation-dialog p {
    font-size: 24px;
  }
}

@media (max-width: 715px) {
  .basket-section {
    display: none;
    width: 0;
  }

  #confirmation-dialog p {
    font-size: 18px;
    font-weight: 500;
    padding: 0 16px;
  }

  .content {
    width: 100%;
  }

  .main-section {
    padding-right: 16px;
  }

  .small-screen-basket {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: sticky;
    bottom: 0;
    margin-bottom: 16px;
  }

  .small-screen-basket h3 {
    width: 240px;
    background-color: rgb(239, 136, 50);
    text-align: left;
    border-radius: 16px 0 0 16px;
    padding-left: 24px;
  }

  .small-screen-basket-button {
    border-radius: 0 16px 16px 0;
    cursor: pointer;
    border: none;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
  }

  .small-screen-basket-button img {
    width: 40px;
  }

  .small-screen-basket-button img:hover {
    transform: scale(1.09);
  }

  .basket-button {
    background-color: rgb(239, 136, 50);
    cursor: pointer;
  }

  .dividing-line {
    margin-top: 6px;
  }
}

@media (max-width: 520px) {
  h1 {
  font-size: 28px;
  padding-bottom: 24px;
}

h2 {
  font-size: 24px;
}

.dish-article {
  padding: 8px 16px;
}

.dish-menu {
  flex-direction: column;
  gap: 6px;
  padding-left: 16px;
}

.menu {
  font-size: 18px;
}

.small-screen-basket h3 {
    width: 220px;
    background-color: rgb(239, 136, 50);
    text-align: left;
    border-radius: 16px 0 0 16px;
    padding-left: 24px;
  }
  }