body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  max-width: 1440px;
  height: 120px;
  background-color: rgb(239, 136, 50);
  padding-left: 64px;
}

header img {
  height: 64px;
}

.section-wrapper {
  display: flex;
  width: 100%;
  background-color: rgb(239, 136, 50);
}

.content {
  display: flex;
  flex-direction: column;
  width: calc(100% - 300px);
}

.main-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  flex: 1;
}

main {
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  flex: 1;
}

.image-area {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 320px;
  background-image: url(../assets/img/hero_img.png);
}

.image-area img {
  width: 100%;
  border-radius: 100%;
  width: 110px;
}

.headline-section {
  padding-left: 16px;
  padding-top: 32px;
}

h1 {
  font-size: 36px;
  padding-bottom: 24px;
}

.evaluation {
  color: rgb(239, 136, 50);
  padding-bottom: 16px;
}

.dish-menu {
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding-left: 16px;
}

.menu {
  font-size: 18px;
  color: black;
}

.main-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 16px;
  padding-top: 32px;
}

h2 {
  font-size: 24px;
}

.basket-section {
  width: 300px;
}

#basket {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 400px;
  position: sticky;
  top: 0;
}

h3 {
  font-size: 24px;
  text-align: center;
}
footer {
  margin-top: auto;
  max-width: 1440px;
  background-color: rgb(239, 136, 50);
  height: 120px;
}
